{% extends "base.html" %} 

{% block content %}
{% if request.user.is_authenticated %}
<p>Welcome, {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>

{% else %}
<p>Welcome, {{request.user}}</p>
<a href="{% url 'login' %}">Login</a>

{% endif %}

<hr />

{% if object_list and request.user.is_authenticated %}
<h3>All my lists</h3>
<a href="{% url 'task-create' %}">Add a Task</a>
<table>
  <tr>
    <th>Items</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">View</a></td>
    <td><a href="{% url 'task-edit' task.id %}">Edit</a></td>
    <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
  </tr>

  {% empty %}
  <h4>You have no lists!</h4>
  {% endfor %}

</table>

{% else %}
<h3>You need to login to see your tasks</h3>
{% endif %}

{% endblock %}
