{% extends "base.html" %}
{% block content %}




{% if request.user.is_authenticated %}
<p>Welcome, {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>

{% else %}
<a href="{% url 'login' %}">Login</a>

{% endif %}
  
<hr>

{% if object_list %}
<h3>All my lists</h3>

{% endif %}

<a href="{% url 'task-create' %}">Add a Task</a>
<table>
  <tr>
    <th>Items</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">View</a></td>
    <td><a href="{% url 'task-edit' task.id %}">Edit</a></td>
    <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
  </tr>

  {% empty %}
  <h4>You have no lists!</h4>
  {% endfor %}  
</table>
{% endblock %}
